.apresentacao__paragrafo {
    font-size: 2rem;
    padding: 20px 0;
}

.apresentacao__paragrafo--ampliado {
    font-size: 6rem;
    padding: 20px 0;
}

@media screen and (max-width: 425px) {
    .apresentacao__paragrafo {
        font-size: 1.4rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 425px) {
    .apresentacao__paragrafo--ampliado {
        font-size: 3rem;
    }
}