.cabecalho__container {
    background: #232a40;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%; 
}

@media screen and (max-width: 768px) {
    .cabecalho__container {
        display: none;
    }
}