.banner__btn {
    background: #232A40;
    border: 2px solid #ffa500;
    border-radius: 5px;
    color: #ffa500;
    font-size: 1.2rem;
    height: 50px;
    margin-top: 6px;
    padding: 0 28px;
}

.banner__btn:hover {
    background: #0b0d14;
    box-shadow: 3px 3px 10px 5px #00000078;
    cursor: pointer;
}

.banner__btn:active {
    box-shadow: 6px 6px 10px 5px #00000078;
}