.banner {
    letter-spacing: 0.1rem;
    line-height: 5.2rem;
    margin: 220px 0 0 100px;
}

@media screen and (max-width: 425px) {
    .banner{
        margin: auto;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
