.tecnologias {
    background: #232a40;
    background-size: cover;
    box-sizing: border-box;
    color: #F0F2F2;
    height: 100%;
    margin: auto;
    max-width: 1400px;
    padding: 60px 0 80px 0;
}