@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background: linear-gradient(#232A40, #5A6273);
    box-sizing: border-box;
}

header {
    height: 100vh;
    max-width: 1400px;
    margin: auto;
    background: linear-gradient(to right, #000000df, #232a40ce), url("../img/banner01.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: #F0F2F2;
    font-weight: bold;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #F0F2F2;
}

.menu {
    display: flex;
    justify-content: space-between;
    background: #232a40ef;
}

.menu_hamburguer {
    display: none;
    flex-direction: column;
    background: #232a40ef;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icone_hamburguer {
    padding: 20px;
}

.icone_hamburguer:hover {
    cursor: pointer;
}

.nav_hamburguer {
    display: flex;
    flex-direction: column;
}

.nav_hamburguer ul {
    display: flex;
    flex-direction: column;
}

.logo img {
    padding: 5px 0 5px 20px;
    width: 80px;
}

nav {
    display: flex;
    padding: 20px;
}

.itens_menu {
    display: flex;
}

.itens_menu li {
    padding: 22px 15px;
}

.itens_menu li:hover {
    color: #ffa500;
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000bf;
}

.itens_menu li:active {
    text-shadow: 8px 8px 8px #000000bf;
}

nav button {
    height: 50px;
    margin-top: 6px;
    margin-left: 15px;
    padding: 0 22px;
    font-size: 1em;
    background: #232A40;
    border: 2px solid #ffa500;
    color: #ffa500;
    border-radius: 5px;
}

nav button:hover {
    background: #0b0d14;
    box-shadow: 3px 3px 10px 5px #00000078;
    cursor: pointer;
}

nav button:active {
    box-shadow: 6px 6px 10px 5px #00000078;
}


.banner {
    padding: 250px 0 0 100px;
    line-height: 2.5em;
    letter-spacing: 0.1em;
    font-size: 1.5em;
}

.banner .albery {
    font-size: 3.5em;
    padding: 20px 0;
}

.banner button {
    height: 50px;
    margin-top: 6px;
    padding: 0 28px;
    font-size: 0.8em;
    background: #232A40;
    border: 2px solid #ffa500;
    color: #ffa500;
    border-radius: 5px;
}

.banner button:hover {
    background: #0b0d14;
    box-shadow: 3px 3px 10px 5px #00000078;
    cursor: pointer;
}

.banner button:active {
    box-shadow: 6px 6px 10px 5px #00000078;
}

.sobre {
    height: 100%;
    background: linear-gradient(to right, #000000a9, #232a4090), url("../img/wallpaper01.jpg");
    max-width: 1400px;
    margin: auto;
    background-size: cover;
    display: flex;
    color: #F0F2F2;
    box-sizing: border-box;
}

.foto_perfil {
    max-width: 350px;
    margin: 100px 100px;
    border: 3px solid #ffa500;
    border-radius: 10px;
}

.sobre_mim {
    padding: 100px 80px 0 0;
    line-height: 1.5em;
    font-size: 1em;
}

.sobre .descobrir {
    font-weight: bold;
    font-size: 1.5em;
    color: #ffa500;
    text-indent: 0;
}

.sobre h1 {
    font-weight: bold;
    font-size: 2.5em;
    color: #F0F2F2;
    line-height: 1.8em;
    margin-bottom: 30px;
}

.sobre p {
    text-indent: 1em;
}

.sobre .redes_sociais {
    width: 30px;
    padding: 20px 15px 20px 0;
}

.sobre .redes_sociais:hover {
    cursor: pointer;
}

.sobre button {
    display: block;
    height: 50px;
    margin-bottom: 100px;
    padding: 0 20px;
    font-size: 1.2em;
    background: #232A40;
    border: 2px solid #ffa500;
    color: #ffa500;
    border-radius: 5px;
}

.sobre button:hover {
    background: #0b0d14;
    box-shadow: 3px 3px 10px 5px #00000078;
    cursor: pointer;
}

.sobre button:active {
    box-shadow: 6px 6px 10px 5px #00000078;
}

.tecnologias {
    height: 100%;
    background: linear-gradient(#232A40, #5D6273, #404959);
    max-width: 1400px;
    margin: auto;
    background-size: cover;
    color: #F0F2F2;
    box-sizing: border-box;
}

.tecnologias h1 {
    display: block;
    font-weight: bold;
    font-size: 2.5em;
    color: #F0F2F2;
    padding: 50px;
    text-align: center;
}

.container_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px 40px 20px;
}

.cards {

    max-height: 130px;
    max-width: 130px;
    padding: 50px;
    margin: 15px;
    align-items: center;
    border: 2px solid #ffa500;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 2px #f0f2f270;
}

.cards:hover {
    box-shadow: 3px 3px 10px 4px #f0f2f270;
    background: linear-gradient(#232A40, #5D6273, #404959);
}

.cards img {
    max-width: 130px;
}

.portifolio {
    height: 100%;
    background: linear-gradient(to right, #949BA6, #f0f2f2a4, #5D6273);
    max-width: 1400px;
    margin: auto;
    background-size: cover;
    color: #F0F2F2;
    box-sizing: border-box;
}

.portifolio_h1 {
    width: auto;
    font-weight: bold;
    font-size: 3em;
    padding: 60px 0 0 0;
    color: #232A40;
    text-align: center;
}

.portifolio h2 {
    font-weight: bold;
    font-size: 2em;
    color: #232A40;
    padding: 20px 0 40px 0;
    text-align: center;
}

.portifolio p {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2em;
    color: #232A40;
    text-align: center;
}

.portifolio .projetos {
    padding: 50px;
}

.portifolio img {
    display: block;
    margin: auto;
    padding: 40px;
    width: 80%;
    cursor: pointer;
}

.contato {
    height: 100%;
    background: #232a40;
    max-width: 1400px;
    margin: auto;
    color: #F0F2F2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.contato_apresentacao {
    padding: 100px 0 30px 65px;
    line-height: 2.5em;
}

.contato_apresentacao h2 {
    font-size: 1.3em;
    font-weight: bold;
    color: #ffa500;
}

.contato_apresentacao h1 {
    font-size: 3em;
}

.contato_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.contato_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    padding: 50px;
}

.contato_form {
    width: 60%;
    padding-top: 50px;
}

.contato_form form {
    display: flex;
    flex-direction: column;
}

.contato_form input,
.contato_form textarea {
    width: 90%;
    padding: 12px 0 12px 10px;
    margin: 10px 0;
    border-radius: 4px;
    background: #232a40;
    border: 1px solid #f0f2f251;
    color: #f0f2f251;
}

.contato_form #enviar {
    font-size: 1.2em;
    border: 2px solid #ffa500;
    color: #ffa500;
}

.contato_form #enviar:hover {
    background: #161a2a92;
    box-shadow: 3px 3px 10px 5px #00000078;
    cursor: pointer;
}

.contato_form #enviar:active {
    box-shadow: 6px 6px 10px 5px #00000078;
}

.contato_cards {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border: 2px solid #f0f2f251;
    border-radius: 10px;
}

.contato_cards:hover {
    border: 2px solid #ffa500;
}

.contato_cards h2 {
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.contato_cards p {
    padding: 10px 0;
    font-size: 0.8em;
}

footer {
    height: 160px;
    background: #2c3550;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.redes_sociais_footer {
    padding: 20px
}

.redes_sociais_footer img {
    padding: 10px;
    margin: 4px;
    border: 2px solid #ffa500;
    border-radius: 50%;
}

.texto_footer {
    color: #F0F2F2;
    font-size: 1.2em;
    font-weight: bold;
}

.texto_footer span {
    color: #ffa500;
}

@media (max-width: 991.98px) {
    .menu {
        display: none;
    }

    .menu_hamburguer {
        display: flex;
    }

    .nav_hamburguer {
        display: none;
    }

    .sobre {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre_mim {
        text-align: center;
        padding: 0 40px 40px 40px;
    }

    .sobre button {
        margin: 10px auto 10px auto;
    }

    .cards {
        height: 120px;
        width: 120px;
    }

    .cards img {
        width: 120px;
    }

    .projetos img {
        width: 100%;
        padding: 40px 0;
    }

    .contato_container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contato_info {
        width: 80%;
    }

    .contato_cards {
        width: 80%;
        margin: auto;
    }

    .contato_form {
        width: 80%
    }

    .contato_form form {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 767.98px) {
    .banner {
        padding: 50px;
        margin: auto;
    }

    .banner .albery {
        font-size: 3em;
    }

    .banner p {
        font-size: 0.9em;
    }

    .cards {
        height: 100px;
        width: 100px;
    }

    .cards img {
        width: 100px;
    }

    .contato_info {
        padding: 0;
    }

    .texto_footer {
        font-size: 1em;
    }
}

@media (max-width: 575.98px) {
    .banner .albery {
        font-size: 2.5em;
    }

    .banner p {
        font-size: 0.7em;
    }

    .foto_perfil {
        width: 300px;
        margin: 50px 0 50px 0;
    }

    .container_cards .cards {
        height: 80px;
        width: 80px;
    }

    .cards img {
        width: 80px;
    }

    .texto_footer {
        font-size: 0.9em;
    }
}