.cursos__container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 280px));
    height: 100%;
    justify-content: center;
}

@media screen and (max-width: 425px) {
    .cursos__container {
        grid-template-columns: repeat(auto-fit, minmax(90vw, 425px));
    }
}